/* FONTS */

@import url('https://fonts.googleapis.com/css2?family=Estonia&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



body {
  font-family: 'Estonia', cursive;
  height: 100%;
  width: 100%;
  background-color: #eece4f;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
}

.container{
  margin-top: 5rem;
  height: 100%;
  max-width: 120rem;
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#description {
  
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

#title {
  font-size: 2rem;
}

#paragraph {
  
  padding: 3rem;
  font-size: 2.1rem;
  font-weight: bold;
}

#button {
  width: 7rem;
  
  font-size: 3rem;
  text-decoration: none;
  background-color: #f0c000;
  padding: 0.8rem;
  border-radius: 0.5rem;
  color: black;
  text-align: center;
  transition: 0.3s;
}

#button:hover {
  transform: translateY(-10px);
}

.credits {
  font-size: 2rem;
  text-decoration: none;
  font-weight: bold;
  color: black;
  transition: color 0.3s;
}

.credits:hover {
  color: red;
}